#header{width: 100%; position: relative;}
#header .inner{height: 200px; }
#header h1{position: absolute; top: 50%; transform: translateY(-50%);}
#header h1 a{}
#header h1 a img{width: 260px;height: auto;}

#header .top-menu{display: flex; position: absolute; right: 0; top: 50px;text-align: center;}
#header .top-menu li{padding: 10px;}
#header .top-menu li.text{}
#header .top-menu .box{width: 100px;height: 42px; border: 1px solid #000;box-sizing: border-box;font-size: 16px; line-height: 22px;}
#header .top-menu li:nth-of-type(7){color: red;}
#header .top-menu li:nth-of-type(8){border-color: red; color: red; margin-right: 10px;}

#header .nav{font-size: 18px; font-weight: 600;position: absolute;right: 0;bottom: 50px;}
#header .nav ul{display: flex;}
#header .nav ul li{margin-left: 70px;}
#header .nav ul li a{}

.quick-menu{position: absolute;right: 0;top: 0; text-align: center;}
.quick-menu div{width: 70px;height: 70px;}
.quick-menu .list{background: #f3f1ee;font-size: 42px;line-height: 70px;}
.quick-menu .quick{background: #e47105; color: #fff; font-size: 20px; padding-top: 5px;}
.quick-menu .quick span{font-weight: 600;}

#visual{width: 100%; }
#visual .inner{ height: 585px;}
#visual .txt{position: absolute; left: 0; top: 60px; height: 440px; background: #fff; position: relative;}
#visual .txt li{width: 100%; height: 100%; background: #fff;}
#visual .txt li .txtbox{width: 100%;}
#visual .txt li .txtbox h2{font-weight: 500; font-size: 46px;margin-top: 0; color: #000;}
#visual .txt li .txtbox h2 span{color: #ccab25;}
#visual .txt li .txtbox p{display: block; width: 300px; margin-top: 35px; line-height: 38px; font-weight: 500; word-break: keep-all;font-size: 18px;}
#visual .buttonbox{position: absolute; bottom: 0; z-index: 1; display: flex;}
#visual .buttonbox .button{margin-right: 60px;}
#visual .buttonbox .current{width: 80px;height: 60px; background: #f3f1ee;text-align: center; line-height: 60px;font-size: 14px;font-weight: 500;}
#visual .buttonbox .arrowbox{width: 50px;height: 60px; font-size: 30px; text-align: center;border: 1px solid #000; line-height: 60px; margin-left: 10px;}

#visual ul{position: absolute; right: -200px; top: 60px;display: flex; }
#visual ul li{width: 200px;height: 480px; background-image: url(../images/visual01.jpg);background-repeat: no-repeat;}
#visual ul li:nth-child(1){background-position: 0px -20px;}
#visual ul li:nth-child(2){background-position: -200px 0px;}
#visual ul li:nth-child(3){background-position: -400px -20px;}
#visual ul li:nth-child(4){background-position: -600px 0px;}
#visual ul li:nth-of-type(even){margin-top: -20px;}


.news{width: 100%; background: bisque;}
.news ul{display: flex;margin-top: 20px;}
.news ul li{}
.news ul li .box{width: 400px;height: 260px; overflow: hidden; position: relative; }
.news ul li .box em{padding-left: 30px;padding-top: 15px;font-size: 10px;}
.news ul li .box h3{font-size: 24px;font-weight: 600; padding-left: 30px;padding-top: 30px; word-break: keep-all;}
.news ul li .box p{padding-left: 30px;}
.news ul li .imgbox{}
.news ul li .imgbox img{}
.news ul li .whitebox{}
.news ul li .red{color: #fff; background: #a40e17;}
.news ul li .red .button_min{border: 1px solid #fff;}
.news ul li .blue{}
.news .inner{height: 1000px;background: beige;}

.notice{width: 100%; background: royalblue;}
.notice .inner{height: 980px; background: skyblue;}

.history{width: 100%; background: yellow;}
.history .inner{height: 960px; background: lightyellow;}

#footer{width: 100%; background: black;}
#footer .inner{height: 140px;background: grey;}