#wrap{width: 100%;}

.inner{width: 1200px; margin: 0 auto; position: relative;}

h2{padding-top: 60px; color: #ccab25; display: block;}

.button{width: 140px;height: 60px;border: 1px solid #000;font-size: 14px; line-height: 60px; text-align: center;font-weight: 500;}

.button_min{width: 100px;height: 30px;border: 1px solid #000;font-size: 12px; line-height: 30px; text-align: center;font-weight: 500;position: absolute; left: 30px;bottom: 30px;}